@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn-bottom {
  top: 29%;
}

.btn-bottom2 {
  top: 45%;
}

.btn-bottom3 {
  top: 29%;
}

.btn-bottom4 {
  top: 26%;
}

.btn-bottom5 {
  top: 34%;
}
